<div class="container-fluid wrapper bg-secondary col-sm-3 col-md-3 col-lg-3 float-left mt-5 ml-4 mr-3 px-4 py-4 border rounded b-3">

  <form [formGroup]="contact" (ngSubmit)="addMessage()">
    <div class="form-group mt-2">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" >
    </div>
    <label for="message">Message</label>
       <textarea name="" class="form-control" formControlName="message"></textarea>
       <br><br>
    <button type="submit" class="btn btn-success">Send</button>
  </form>

</div>

