<div class="container wrapper bg-transparent col-sm-11 col-md-11 col-lg-11 d-flex justify-content-center">
<table class="mt-4 mb-4">
  <tr>
  <td><div *ngFor="let product of locData">
    <div class="media mt-4 mb-2 py-4 px-4 border rounded b-3">
    <div class="">
      <h5 class="mt-0 mb-1">{{ product.name }}, {{ product.location }} </h5>
      <p>{{ product.blog }}</p>
      <br>
      <p><b>Price: </b>{{ product.price }}</p>
      <button class="btn btn-success btn-md"  (click)="addToCart(product)">Book&Pay</button>
      </div>
    <img src="{{ product.image }}" alt="travel image" class="col-sm-4 col-md-4 col-lg-3 mt-4 mr-4 d-none d-sm-block mr-0">
  </div></div></td>
</tr>
</table>
</div>
